
.menu{
    background-color: hsl(0, 0%, 52%);
    padding: 40px 0;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.phai a:active,
.phai a:visited{
    text-decoration: none;
}
.phai a{
    color: rgb(48, 238, 206);
    font-weight: normal;
    font-size: 18px;
    padding: 0 40px;
    text-transform: uppercase;
    transition: 0.4s;
}
.col-sm-2{
   
    background-color: #c56c6c;
}
.nholai{
    font-size: 20px;
    padding: 10px 0;
}