*{margin:0;padding:0;}
.dixuong{
    transition:0.4s;
    margin-top: 200px;
    opacity:0;
}
.card-title{
    background-color:#bcd81d;
    width: 100px;
    
}
.container{
    background-color:aqua;
    width: 300px;
    height:100px;
    transition: 1.4s;
}
.diphai{
    /* transform:translateX(200px) */
    animation:sangphai 1s forwards;
}
@-webkit-keyframes sangphai{
    0%{transform: translateX(0);
        margin-top: 0px;opacity:1;}
    50% {transform:translatex(400px);
        margin-top: 0px;opacity:1;}
    100%{transform:translateX(400px);
        margin-top: 200px;opacity:0;}
}

.chieuso1{
    animation:chieu1  1s forwards!important;

}
@-webkit-keyframes chieu1{
    0%{transform: translateX(0px) translateY(0px);}
    50%{transform:translateX(200px) translateY(200px);}
    80%{transform:translateX(500px) translateY(200px);}
    100%{transform:translateX(500px)translateY(500px);}
}
#kcd {

    animation:chieu2 3s forwards;

}
@-webkit-keyframes chieu2{
    100%{transform: translateX(0px) translateY(0px);}
    80%{transform:translateX(200px) translateY(200px);}
    50%{transform:translateX(500px) translateY(200px);}
    0%{transform:translateX(500px)translateY(500px);}
}
.kocd{
    animation: none!important;
}
.thanhxanh{
    height:40px;
    background:#3c3cdf;
    padding-left: 505px;
}
.motphantu{
    position: relative;
    float:right;
    margin-right: 200px;
    margin-top:7px;
    transition: 0.4;

}
.tamgiac{
    color:white;
    font-size: 22px;
    transition: 0.4s;
    color:black;
    cursor: pointer;
}
.danhsach{
    position:absolute;
    top:35px;
    right:-13px;
    width:200px;
    opacity: 0;
    visibility: hidden;
}
.danhsach::after{
    content:"";
    position:absolute;
    top:-20px;
    width:0;
    height: 0;
    border:10px rgba(255, 255, 255,0) solid;
    border-bottom-color:white ;
    right:10px;
}
.tamgiactrang{color: white;}
.ra {opacity: 1;visibility: visible;}
li.list-group-item{
    font-size:15px;
    padding:5px 15px;
    list-style:none;
}
li.list-group-item:hover{
    background-color:rgb(243, 223, 40);
    color:rgb(247, 139, 139)
}
._1khoi{
    float:right;
    position:relative;
    perspective: 500px;
}
.declick{
    padding:10px 16px;
    transition: 0.4s;

}
.dehienthi{
    position:absolute;
    width:50px;
    font-size:13px;
    transition: 0.4s;
    right:3px;
    opacity: 0; 
    visibility: hidden; 

}
.declick i.fa-solid{
    font-size:15px;
    cursor: pointer;

}
.dehienthi:after{
    content:"";
    position:absolute;
    top:-20px;
    width:0;
    height: 0;
    border:10px rgba(255, 255, 255,0) solid;
    border-bottom-color:white ;
    right:10px;
}
.trang{
    color:rgb(255, 255, 255);
}
.ra1 {opacity: 1;visibility: visible;
    animation: len 1s forwards;
}
@-webkit-keyframes len{
    from{transform: translateY(-90deg);opacity: 0;perspective: 500px;transform-origin: 100% 100%;}
    to{transform: translateY(0);opacity: 1;transform-origin: 100% 100%;}
}
.list-group-item{
    
    text-align: center;
    font-size:15px;
    position: relative;
    display:block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color:#fd0000;
    border:#000000 1px solid;
}
.text-xs-center{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
.btn{
    background-color: #95d897;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.noidungto{
    height: 100%;
   transition:cubic-bezier(.13,.94,.71,.22) 1s;
    /* padding-top: 10%; */
    box-sizing: border-box ;
    perspective: 4900px;

}
html, body {
    height:100%;
    overflow-x: hidden;/*ko co thanh cuon ngang*/
    background: gray;
}
li.list-group-item{
    background:none;
    color:white;
    text-transform: uppercase;
}
h3.display-3.text-xs-center{
    font-size: 34px;
    padding:20px;
    color: white;
    
}
.menutrai{
    height: 100%;
    background-color:#54c257;
    width: 300px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:2;
    transition:0.4s;
}
.menutrai.vetrai{
    transform: translateX(-100%);
}
.nut{
    width: 100px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    /* margin-top: 40%; */
}
.den{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1;
    background: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition:0.4s;
    opacity:0;
    visibility: hidden;
}
.len{
    opacity:1;
    visibility:visible;
}
.lenphai{
    transform:translateX(299px);
}
.mautrang{
    width: 100%;
    height: 100%;
    margin-top: -4px;
    background: rgb(255, 255, 255);
    transition: 0.4s;

    transform-origin: 100% 0%;
    
}
.trangquay{
    transform: rotateY(-10deg);
}
